<!DOCTYPE html>
<html>
<head>
    <title>Python Blog App</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.timestamp}}</p>
    <p>{{ post.body }}</p>
{% endfor %}
{% endblock %}
</body>
</html>